body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(back6.jfif);
    background-size: cover;
}

header {
    background-color: rgba(40, 61, 222, 0.868);
    color: orangered;
    text-align: center;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 80px;
    
}
nav ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 68, 0, 0.635);
    overflow: hidden;
}
h3{
    font-size: larger;
    color: white;
    width: 70%;
}
h4{
    font-size: larger;
    color: white;
}
nav li {
    float: left;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color:  rgb(40, 61, 222, 0.5);
}

section {
    /* padding: 20px; */
    color:white;
    /* text-align: center; */
}
.dev{
    margin-inline-start: 25%;
    color: rgba(0, 98, 255, 0.76);
}

.button-container{
    margin-inline-start: 25%;
}
.project {
    margin-bottom: 30px;
}
.project img{
    margin-bottom: 30px;
    width: 300px;
    height: 200px;
}
form{
    border-radius: 15px;
    margin-top: 40px;
    display: flex;
    background-color: rgba(43, 76, 143, 0.826);
    height: 200px;
    width: 75%;
    /* padding: 10px; */
}
.form2{
    border-radius: 15px;
    margin-left: 25%;
    margin-right: 10px;
    display: flex;
    background-color:rgba(255, 68, 0, 0.813);
    height: 200px;
    width: 75%;
}
form1{
    background-image: url(back7.jfif);
    margin-top: 100px;
    /* background-image: url(back6.jfif); */
}
form:hover{
    transform: scale(1.05);
    background-color: rgb(212, 21, 53);
}
img{
    width: 300px;
    height: 200px;
    /* padding: 5px; */
    border-radius: 15px;

}
